@import "tailwindcss";

html,
body {
  height: 100%;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

* {
  -webkit-tap-highlight-color: transparent;
}
